* {
  background-color: darkgrey;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.input {
  width: 40%;
  height: 25px;
  background-color: white;
  color: gray;
  border: none;
  border-radius: 5px;
  /* border-width: 1px; */
  padding-left: 10px;
}
.input:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px whitesmoke;
  outline: 0 none;
}
.input:focus {
  border: none;
}

.btn {
  color: grey;
  background-color: black;
  cursor: pointer;
}

.linkDisplay {
  padding-left: 10%;
  font-size: large;
}

h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  background-color: rgb(206, 30, 212);
  color: white;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin-left: 20%;
  align-self: center;
}

a {
  color: black;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(45, 135, 238);
  color: white;
}

.content {
  background-color: white;
  color: black;
  word-wrap: break-word;
  width: 40%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
